<div class="container">
  <div class="screen" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    <ng-container *ngFor="let item of droppedItems">
      <ng-container [ngSwitch]="item.type">
        <div
          class="tile"
          *ngSwitchCase="'input'"
          [style.position]="'absolute'"
          [style.left.px]="item.x"
          [style.top.px]="item.y"
          [attr.data-id]="item.id"
          draggable="true"
          (dragstart)="onScreenDragStart('move', $event, item.id)"
          >
          <label for="">{{ item.label }}</label>
          <input [type]="item.format" name="" id="" />
        </div>
        <div
          class="tile"
          *ngSwitchCase="'time'"
          [style.position]="'absolute'"
          [style.left.px]="item.x"
          [style.top.px]="item.y"
          [attr.data-id]="item.id"
          draggable="true"
          (dragstart)="onScreenDragStart('move', $event, item.id)"
        >
          {{ currentTime }}
        </div>
        <div
          class="tile"
          *ngSwitchCase="'dropdown'"
          [style.position]="'absolute'"
          [style.left.px]="item.x"
          [style.top.px]="item.y"
          [attr.data-id]="item.id"
          draggable="true"
          (dragstart)="onScreenDragStart('move', $event, item.id)"
        >
          <label>{{ item.label }}</label>
          <select name="" id="" class="tile">
            <option *ngFor="let options of item.options" [value]="options">
              {{ options }}
            </option>
          </select>
        </div>
        <div
          *ngSwitchCase="'image'"
          [style.position]="'absolute'"
          [style.left.px]="item.x"
          [style.top.px]="item.y"
          [attr.data-id]="item.id"
          draggable="true"
          (dragstart)="onScreenDragStart('move', $event, item.id)"
        >
          <img [src]="item.imageSrc" class="image" alt="" />
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="tiles">
    <div
      *ngFor="let tile of tileData"
      class="tile"
      draggable="true"
      (dragstart)="
        onDragStart(
          $event,
          tile.type,
          tile.format,
          tile.src,
          currentTime,
          tile.options,
          tile.label
        )
      "
    >
      <ng-container [ngSwitch]="tile.type">
        <div *ngSwitchCase="'input'" class="tile">
          <label for="">{{ tile.label }}</label>
          <input [type]="tile.format" />
        </div>
        <div *ngSwitchCase="'dropdown'" class="tile">
          <label *ngIf="tile.label">{{ tile.label }}</label>
          <select class="tile">
            <option *ngFor="let option of tile.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div *ngSwitchCase="'time'" class="tile">
          {{ currentTime }}
        </div>
        <img
          *ngSwitchCase="'image'"
          [src]="tile.src"
          alt="Tile image"
          class="image"
        />
      </ng-container>
    </div>
  </div>
</div>
